body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.custom-container {
    width: 1280px !important;
    padding: 80px 0 0 0 !important;

}

/* -------------------------------------------------------- NAVBAR --------------------------------------------------------- */

.navbar-wrapper {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.navbar {
    font-size: 14px;
    background-color: #ffffff;
    color: #55514e !important;
    padding: 0 !important;
    border-bottom: 3px solid #F2EDEA;
    height: 80px !important;
    max-width: 1280px;
    margin: auto;
}

.navbar-list {
    display: flex;
    list-style: none;
    padding-right: 50px;
}

#logo {
    margin: 0px;
    padding: 0px 40px 15px 55px;
}

.navbar .dropdown-toggle {
    background: transparent !important;
    border: 0 !important;
    color: #55514e !important;
    border-radius: 0px !important;
    font-size: 14px !important;
}

.navbar .dropdown-toggle:hover {
    background-color: #262a32 !important;
    color: #9ca4ab !important;
    transition: 0s !important;
    border-bottom: 3px solid #6cb043 !important;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: #262a32 !important;
    color: #f4f4f4 !important;
    border-radius: 0px !important;
    transition: 0s !important;
    width: 1280px !important;
    left: -360px;
}

.navbar .dropdown-container {
    width: 100%;
    display: flex;
}

.navbar .dropdown-first {
    margin: 40px 0px 40px 50px;
    flex-direction: column;
    width: 60%;
    flex-wrap: wrap;
}

.navbar .dropdown-second {
    margin: 40px 0px;
    flex-direction: column;
    width: 18%;
    flex-wrap: wrap;
}

.navbar .dropdown-image {
    margin: 40px 50px 40px 0px;
    width: 22%;
}

.navbar .dropdown-title {
    padding: 0 0 10px 10px;
    display: flex;
    text-decoration: none;
    color: #f4f4f4;
}

.navbar .dropdown-list , .navbar .dropdown-shortlist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 240px;
}

.navbar .dropdown-list a {
    text-decoration: none;
    color: #f4f4f4;
    padding: 3px 10px;
}

.navbar .dropdown-container a:hover {
    color: #84BC22;
    text-decoration: underline;
}

.navbar .dropdown-shortlist a {
    text-decoration: none;
    color: #f4f4f4;
    padding: 3px 10px;
}

li {
    text-decoration: none !important;
}

.services-button {
    height: 63.6px;
    width: 124.6px;
    margin-top: 15px;
    display: flex !important;
    padding-top: 11px !important;
}

.services-text {
    padding-right: 20px;
    padding-left: 15px;
    font-weight: 600 !important;
    opacity: 0.8;
}

.dropdown-toggle::after {
    margin-top: 10px;
    opacity: 0.3;
}
.disabled-menus {
    padding: 27px 15px 0px 15px !important;
    font-weight: 600 !important;
    opacity: 0.8;
}

.languages {
    height: 63.6px;
    margin: 18px 5px 0 20px;
    align-items: center;
}

.currency {
    height: 63.6px;
    margin: 18px 32px 0 0;
    align-items: center;
}

.languages-currency .form-select {
    border: none;
    color: #55514e;
    opacity: 0.6;
    width: 100%;
    padding-top: 7px;
    letter-spacing: -1px;
}

.languages-currency .form-select:focus {
   box-shadow: none;
}

.button-icon {
    background: none;
    border: none;
    font-size: 24px;
    color: #B1B0AE;
}

.button-icon:hover {
    color:#84BC22;
}

.navbar-icon {
    display: flex;
    padding: 0 15px 10px 15px;
}

.navbar-icon .cart-icon {
    margin-top: 18px;
}

.navbar-icon .circle-cart {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 2px solid #84BC22;
    position: absolute;
    top: 18px;
    right: 56px;
    z-index: 11;
    font-size: 10px;
    color: #84BC22;
    font-weight: bold;
    background-color: #ffffff;
    text-align: center;
}

.navbar-icon .circle-heart {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 2px solid #84BC22;
    position: absolute;
    top: 18px;
    right: 112px;
    z-index: 11;
    font-size: 10px;
    color: #84BC22;
    font-weight: bold;
    background-color: #ffffff;
    text-align: center;
}


/* ---------------------------------------------------- INTRO SECTION ----------------------------------------------------- */

.intro-section {
    width: 1280px;
    height: 560px;
    display: flex;
    padding:0 30px;
}

.carousel-wrapper {
    padding: 25px 25px;
}

.carousel-item div {
    background-size: cover;
    background-position: center;
    height: 504px;
    width: 100%;
    border-radius: 10px;
}

.carousel {
    width: 870px;
    height: 504px !important;
    border-radius: 10px;
}

.carousel-text-first {
    position: absolute;
    color: #f4f4f4;
    padding-left: 60px;
    padding-top: 70px; 
}

.carousel-text-second {
    position: absolute;
    color: #f4f4f4;
    padding-top: 70px;
    text-align: center;
}

.carousel-text-third {
    position: absolute;
    color: #f4f4f4;
    padding-right: 60px;
    padding-top: 70px;
    text-align: right; 
}

.carousel-inner h1 {
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 90px;
}

.carousel-inner p {
    padding-bottom: 25px;
}

.carousel-inner .btn {
    border-radius: 30px !important;
    border-color: #f4f4f4 !important;
    color: #f4f4f4 !important;
    border-width: 2px;
}

.carousel-inner .btn:hover {
    background-color: #f4f4f4 !important;
    color: #55514e !important;
}

.carousel-inner span {
    padding: 0 15px;
}

.carousel-indicators {
    padding-bottom: 20px !important;
}

.carousel-indicators button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
}

.sales {
    padding: 25px 25px 0 0;
}

.sales img {
    border-radius: 8px;
}

.social-media-section {
    flex-direction: column;
    padding-top: 37px;
    text-align: center;
    color: #55514e;
}

.social-media-section h6 {
    font-size: 18px;
}

.social-media-section p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-media-section .btn {
    border-radius: 30px !important;
    border-color: #3B5B96 !important;
    color: #3B5B96 !important;
    border-width: 2px;
}

.social-media-section .btn:hover {
    color: #f4f4f4 !important;
    background-color: #3B5B96 !important;
}

.social-media-section span {
    padding: 0 15px !important;
}

.social-media-section i {
    padding-left: 10px !important;
}

/* ---------------------------------------------------- PRODUCTS SECTION ----------------------------------------------------- */

.popular-items {
    background-color: #262a32;
    padding: 80px 55px 50px 55px;
}

.popular-items-title {
    text-align: center;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 35px;
}

.popular-items-title::before {
    margin-right: 50px;
}

.popular-items-title::after {
    margin-left: 50px;
}

.popular-items-title::before , .popular-items-title::after {
    content: "";
    display: inline-block;
    background-color: #4a555e;
    height: 2px;
    width: 455px;
    margin-bottom: 7.5px;
    opacity: 0.5;
}

.popular-items .products {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 28px;
    justify-items: center;
    padding-bottom: 50px;
    align-items: center;
}

.popular-items .products-image {
    position: relative;
    display: flex;
    justify-content: center;
}

.products-wrapper {
    position: relative;
}

.products-wrapper .products-background {
    position: absolute;
    background: linear-gradient(rgba(92, 255, 160, 0.8), rgba(66, 179, 103, 0.8));
    top: 1px;
    z-index:9 ;
    width: 271px;
    height: 365px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.products-background button {
    background-color: white;
    height: 84px;
    width: 84px;
    border: none;
    border-radius: 50%;
    margin: 10px;
}

.products-background button i {
    font-size: 30px;
    font-weight: bold;
}

.products-background button .fa-plus {
    color: #84BC22;
}

.products-background button .fa-heart {
    color: #E73C68;
}

.popular-items .products-image div {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    text-align: center;
}

.popular-items .special-product {
    display: flex;
    justify-content: center;
}

.popular-items .special-product a {
    text-decoration: none;
}

.popular-items .products-image div p {
    margin-bottom: 16px;
    font-weight: 550;
    color: #2C3E50;
}

.popular-items .products-image .special {
    padding-bottom: 37px;
}

.popular-items .products-image .btn-group {
    padding-bottom: 10px;
    display: flex;
}

.popular-items .products-image .left {
    width: 90px;
    color: #32C777 !important;
}

.popular-items .products-image .left:hover {
    background-color: white;
}

.popular-items .products-image .right {
    width: 110px;
    color: black;
}

.popular-items .products-image .right:hover {
    background-color: #6cb043;
    border-color: #6cb043;
    color: #f4f4f4;
}

.popular-items .products-image .left, .products-image .right {
    border-radius: 30px;
    border-color: #e6e6e6;
    font-weight: 600;
    border-width: 2px;
}

.popular-items .photos:nth-child(9), 
.popular-items .photos:nth-child(10), 
.popular-items .photos:nth-child(11), 
.popular-items .photos:nth-child(12) {
    display: none;
}

.message {
    position: relative;
}

.message::after {
    content: '';
    position:absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(255, 92, 151, 0.7),rgba(117, 102, 255, 0.7));
    border-radius: 5px;
}

#message {
    padding-right: 70px;
    padding-bottom: 66px;
    z-index: 2;
}

#message p {
    color: #f4f4f4;
    text-align: start;
    width: 140px;
}

#message .message-text {
    display: flex;
    padding-bottom: 18px;
    align-items: baseline;
}

#message .message-text p {
    padding-left: 10px;
}

.loadMoreButton {
    display: block;
    text-align: center;
}

.loadMoreButton .btn {
    border-radius: 30px !important;
    border-color: #f4f4f4 !important;
    color: #f4f4f4 !important;
    border-width: 2px;
}

.loadMoreButton .btn:hover {
    color: #ffffff !important;
    background-color: #84BC22 !important;
}

.loadMoreButton .btn span {
    padding: 0 80px;
}

/* ---------------------------------------------------- BANNER SECTION ----------------------------------------------------- */

.banner {
    display: flex;
    justify-content: center;
}

.banner-text {
    position: absolute;
    text-align: center;
    color:#f4f4f4;
    padding-top: 155px;
    letter-spacing: -1.5px;
}

.banner-text h1{
    font-size: 48px;
    font-weight: 700;
}

.banner-text p{
    padding-top: 20px;
}

/* ---------------------------------------------------- FEATURED PRODUCTS ----------------------------------------------------- */

.featured-products {
    background-color: #262a32;
    text-align: center;
    padding: 0px 40px 60px 40px;
}

.featured-products h4 {
    color: #f4f4f4;
    padding: 35px 0 0 0;
    font-size: 35px;
    font-weight: bold;
}

.featured-products h5 {
    color: #f4f4f4;
    font-size: 19px;
    letter-spacing: -1px;
}


/* ---------------------------------------------------- SERVICES SECTION ----------------------------------------------------- */

.services {
    background-color: #45413E;
    display: flex;
    padding: 55px 55px 40px 55px;
}

.focus , .method , .knowledge {
    display: flex;
    width: 380px;
}

.services img {
   height: 85px;
   padding: 15px 40px 0 0;
}

.services h6 {
    font-size: 18px;
    color: #f4f4f4;
    font-weight: 600;    
}

.services p {
    color: #868380;
    font-size: 13px;
}

/* ----------------------------------------------------- FOOTER SECTION ------------------------------------------------------ */

.footer {
    margin: 40px 55px 40px 55px;
    display: flex;
}

.footer .details {
    color: #777471;
    padding-right: 90px;
}

.footer .details p a {
    text-decoration: none;
    color: #777471;
}

.footer .details p a:hover {
    color:#84BC22;
}

.footer-products {
    display: flex;
    width: 740px;
}

.footer-categories {
    width: 600px;
}

.footer-list-title , .social-media a{
    text-decoration: none;
    color: #777471;
}

.footer-list-title {
    font-size: 13.5px;
}

.footer-categories-list , .footer-about-list {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    padding-top: 15px;
}

.footer-categories-list a {
    text-decoration: none;
    color: #777471;
    padding: 7px 60px 0 0;
    letter-spacing: -0.5px;
}

.footer-about-list a {
    text-decoration: none;
    color: #777471;
    padding: 7px 60px 0 0;
    letter-spacing: -0.5px;
}

.footer-products a:hover {
    color: #84BC22;
}

.social-media a:hover {
    color: #84BC22;
}

.details p , .footer-products a {
    font-size: 13px;
}

.footer-products a , .social-media a {
    text-decoration: none;
}

.social-media a {
    padding: 0 10px;
}

/* ------------------------------------------------ COOKIE SECTION ------------------------------------------------------- */


.cookie-disclaimer {
    background: rgba(0, 0, 0, 0.8);
    z-index: 15;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    height: 446%;
}

.cookie-disclaimer .cookie-box {
    background: #ffffff;
    color: #45413E;
    width: 1170px;
    bottom: 200px;
    left: 172px;
    z-index: 20;
    height: 150px;
    position: fixed;
    border-radius: 5px;
}

.cookie-disclaimer .cookie-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}
  
.cookie-disclaimer .cookie-close {
    float: right;
    padding: 0 12px 0 0;
    cursor: pointer;
    font-size: 30px;
}

.cookie-disclaimer .cookie-text {
    padding: 5px 0 0 25px;
}

.cookie-text h6 {
    color:#84BC22;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 5px;
}

.cookie-text p {
    font-size: 14px;
}

.cookie-text a {
    text-decoration: none;
    color: #84BC22;
}

.cookie-disclaimer .btn-success {
    height: 36px;
    width: 144px;
    margin: 70px 0 0 110px;
    background-color: #84BC22 !important;
    border-radius: 30px;
    border-color: #84BC22;
}

.cookie-disclaimer .btn-success:hover {
    border-color: #84BC22;
}


/* ---------------------------------------------------- LOG IN SECTION ----------------------------------------------------- */


.modal-content {
    padding: 30px;
    width: 500px;
    height: 468px;
}

.modal-body h4 {
    padding: 0 0 40px 0;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color:#45413E;
}

.modal-body .form-control {
    border-radius: 30px;
}

.form-group span {
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #45413E !important;
    padding: 20px 0 5px 0;
}

.form-group input:focus {
    box-shadow: none;
}

form i {
    cursor: pointer;
    z-index: 21;
    position: absolute;
    bottom: 171px;
    right: 40px;
}

.pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .btn {
    margin: 56px 0 20px 110px;
    background-color: #84BC22;
    border-color: #84BC22;
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
}

form .btn span {
    padding: 0 60px;
}

form .btn:hover {
    background-color: #ffffff;
    color: #84BC22;
    border-color: #84BC22;
}

.green-modal {
    color: #84BC22 !important;
    font-size: 14px;
}

form input {
    border: 2px solid #dbd7d4 !important;
}

/* ---------------------------------------------------- SHARED SECTION ----------------------------------------------------- */

.btn:focus {
    box-shadow: none !important;
}

.price {
    font-family: 'Lato', sans-serif;
}

/* external css: flickity.css */

.flickity-viewport {
	overflow: visible;
}

.timeline {
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.backslash {
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    color: #ffffff;
    letter-spacing: -1px;
    left: 342px;
}

.backslash::before {
    margin-right: 10px;
}

.backslash::after {
    margin-left: 10px;
}

.backslash::before , .backslash::after {
    content: "";
    display: inline-block;
    background-color: white;
    height: 2px;
    width: 235px;
    margin-bottom: 5px;
}

.timeline .carousel {
	overflow: hidden;
	width: 100%;
    padding-top: 55px;
    height: 350px !important;
}

.carousel-cell {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.carousel-cell div {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    text-align: center;
}

.carousel-cell div p {
    margin-bottom: 16px;
    font-weight: 550;
    color:#55514e;
}

.carousel-cell .categories {
    color: #84BC22;
    font-weight: bold;
}

.flickity-button:hover {
	cursor: pointer;
}

.flickity-prev-next-button {
	width: 30px;
	height: 30px;
	background: #2D343A;
	transform: translateY(-350px);
    border: 0;
    margin-bottom: 15px;
}

.flickity-prev-next-button.previous {
    margin-right: 265px;
}

.flickity-prev-next-button.next {
    margin-left: 265px;
}

.flickity-prev-next-button .flickity-button-icon {
	position: absolute;
	width: 40%;
	height: 40%;
	fill: white;
	margin: 3px;
    top: 20%;
    right: 20%;
}




