body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.custom-container {
    width: 1280px !important;
    padding: 0 !important;
}

/* NAVBAR */


.navbar {
    position: fixed;
    font-size: 14px;
    background-color: transparent;
    color: #55514e !important;
    padding: 0 !important;
    border-bottom: 3px solid #f4f4f4;
    height: 80px !important;
}

.navbar-list {
    display: flex;
    list-style: none;
    padding-right: 50px;
}

#logo {
    margin: 0px;
    padding: 0px 40px 15px 55px;
}

.dropdown-toggle {
    background: transparent !important;
    border: 0 !important;
    color: #55514e !important;
    border-radius: 0px !important;
    font-size: 14px !important;
}

.dropdown-toggle:hover {
    background-color: #262a32 !important;
    color: #9ca4ab !important;
    transition: 0s !important;
    border-bottom: 3px solid #6cb043 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: #262a32 !important;
    color: #f4f4f4 !important;
    border-radius: 0px !important;
    transition: 0s !important;
    width: 1280px !important;
    left: -391px;
}

.dropdown-container {
    width: 100%;
    display: flex;
}

.dropdown-first {
    margin: 40px 0px 40px 50px;
    flex-direction: column;
    width: 60%;
    flex-wrap: wrap;
}

.dropdown-second {
    margin: 40px 0px;
    flex-direction: column;
    width: 18%;
    flex-wrap: wrap;
}

.dropdown-image {
    margin: 40px 50px 40px 0px;
    width: 22%;
}

.dropdown-title {
    padding: 0 0 10px 10px;
    display: flex;
    text-decoration: none;
    color: #f4f4f4;
}

.dropdown-list , .dropdown-shortlist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 240px;
}

.dropdown-list a {
    text-decoration: none;
    color: #f4f4f4;
    padding: 3px 10px;
}

.dropdown-container a:hover {
    color: #f4f4f4;
}

.dropdown-shortlist a {
    text-decoration: none;
    color: #f4f4f4;
    padding: 3px 10px;
}

li {
    text-decoration: none !important;
}

.services-button {
    height: 63.6px;
    width: 124.6px;
    margin-top: 15px;
    display: flex !important;
    padding-top: 11px !important;
}

.services-text {
    padding-right: 20px;
    padding-left: 15px;
    font-weight: 600 !important;
    opacity: 0.8;
}

.dropdown-toggle::after {
    margin-top: 10px;
    opacity: 0.3;
}
.disabled-menus {
    padding: 27px 15px 0px 15px !important;
    font-weight: 600 !important;
    opacity: 0.8;
}

.languages, .currency {
    height: 63.6px;
    margin-top: 15px;
    display: flex !important;
    padding-top: 12px !important;
}

.languages {
    margin-left: 30px;
}

.currency {
    margin-right: 30px;
}

.button-icon {
    background: none;
    border: none;
    font-size: 24px;
    color: #B1B0AE;
}

.navbar-icon {
    display: flex;
    padding: 0 15px 10px 15px;
}

/* INTRO SECTION */

.intro-section {
    width: 1280px;
    height: 560px;
    display: flex;
    padding:0 30px;
}

.carousel-wrapper {
    padding: 25px 25px;
}

.carousel-item div {
    background-size: cover;
    background-position: center;
    height: 504px;
    width: 100%;
    border-radius: 10px;
}

.carousel {
    width: 870px;
    height: 504px !important;
    border-radius: 10px;
}

.carousel-text-first {
    position: absolute;
    color: #f4f4f4;
    padding-left: 60px;
    padding-top: 70px; 
}

.carousel-text-second {
    position: absolute;
    color: #f4f4f4;
    padding-top: 70px;
    text-align: center;
}

.carousel-text-third {
    position: absolute;
    color: #f4f4f4;
    padding-right: 60px;
    padding-top: 70px;
    text-align: right; 
}

.carousel-inner h1 {
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 90px;
}

.carousel-inner p {
    padding-bottom: 25px;
}

.carousel-inner .btn {
    border-radius: 30px !important;
    border-color: #f4f4f4 !important;
    color: #f4f4f4 !important;
    border-width: 2px;
}

.carousel-inner .btn:hover {
    background-color: #f4f4f4 !important;
    color: #55514e !important;
}

.carousel-inner span {
    padding: 0 15px;
}

.carousel-indicators {
    padding-bottom: 20px !important;
}

.carousel-indicators button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
}

.sales {
    padding: 25px 25px 0 0;
}

.sales img {
    border-radius: 8px;
}

.social-media-section {
    flex-direction: column;
    padding-top: 37px;
    text-align: center;
    color: #55514e;
}

.social-media-section h6 {
    font-size: 18px;
}

.social-media-section p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-media-section .btn {
    border-radius: 30px !important;
    border-color: #3B5B96 !important;
    color: #3B5B96 !important;
    border-width: 2px;
}

.social-media-section .btn:hover {
    color: #f4f4f4 !important;
    background-color: #3B5B96 !important;
}

.social-media-section span {
    padding: 0 15px !important;
}

.social-media-section i {
    padding-left: 10px !important;
}

/* PRODUCTS */

.popular-items {
    background-color: #262a32;
    padding: 80px 55px 50px 55px;
}

.popular-items-title {
    text-align: center;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 35px;
}

.popular-items-title::before {
    margin-right: 50px;
}

.popular-items-title::after {
    margin-left: 50px;
}

.popular-items-title::before , .popular-items-title::after {
    content: "";
    display: inline-block;
    background-color: #55514e;
    height: 2px;
    width: 455px;
    margin-bottom: 7.5px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 28px;
    justify-items: center;
    padding-bottom: 50px;
    align-items: center;
    overflow: hidden;
}

.products-image {
    position: relative;
    display: flex;
    justify-content: center;
}

.products-image div {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    text-align: center;
}

.special-product {
    display: flex;
    justify-content: center;
}

.products-image div p {
    margin-bottom: 16px;
    font-weight: 550;
    color: #2C3E50;
}

.products-image .special {
    padding-bottom: 37px;
}

.products-image .btn-group {
    padding-bottom: 10px;
    display: flex;
}

.products-image .left {
    width: 90px;
    color: #32C777 !important;
}

.products-image .right {
    width: 110px;
    color: black;
}

.products-image .right:hover {
    background-color: #6cb043;
    border-color: #6cb043;
    color: #f4f4f4;
}

.products-image .left , .products-image .right {
    border-radius: 30px;
    border-color: #e6e6e6;
    font-weight: 600;
    border-width: 2px;
}

.products-image .price {
    font-family: 'Lato', sans-serif;
}

#message {
    padding-right: 70px;
    padding-bottom: 22px;
}

#message p {
    color: #f4f4f4;
    text-align: start;
    width: 140px;
}

.loadMoreButton {
    display: block;
    text-align: center;
}

.loadMoreButton .btn {
    border-radius: 30px !important;
    border-color: #f4f4f4 !important;
    color: #f4f4f4 !important;
    border-width: 2px;
}

.loadMoreButton .btn:hover {
    color: #55514e !important;
    background-color: #f4f4f4 !important;
}

.loadMoreButton .btn span {
    padding: 0 80px;
}

/* BANNER */

.banner {
    display: flex;
    justify-content: center;
}

.banner-text {
    position: absolute;
    text-align: center;
    color:#f4f4f4;
    padding-top: 155px;
    letter-spacing: -1.5px;
}

.banner-text h1{
    font-size: 48px;
    font-weight: 700;
}

.banner-text p{
    padding-top: 20px;
}

/* FEATURED PRODUCTS */

.featured-products {
    background-color: #262a32;
    text-align: center;
    padding: 0px 40px 60px 40px;
}

.featured-products h4 {
    color: #f4f4f4;
    padding: 35px 0 0 0;
    font-size: 35px;
    font-weight: bold;
}

.featured-products h5 {
    color: #f4f4f4;
    font-size: 19px;
    letter-spacing: -1px;
}

.slider {
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.slider-cell {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.slider-cell div {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    text-align: center;
}


.slider-cell div p {
    margin-bottom: 16px;
    font-weight: 550;
    color:#55514e;
}

.slider-cell .categories {
    color: #84BC22;
    font-weight: bold;
}


/* SERVICES */

.services {
    background-color: #45413E;
    display: flex;
    padding: 55px 55px 40px 55px;
}

.focus , .method , .knowledge {
    display: flex;
    width: 380px;
}

.services img {
   height: 85px;
   padding: 15px 40px 0 0;
}

.services h6 {
    font-size: 18px;
    color: #f4f4f4;
    font-weight: 600;    
}

.services p {
    color: #868380;
    font-size: 13px;
}

/* FOOTER */

.footer {
    margin: 40px 55px 40px 55px;
    display: flex;
}

.details {
    color: #777471;
    padding-right: 90px;
}

.footer-products {
    display: flex;
    width: 740px;
}

.footer-categories {
    width: 600px;
}

.footer-list-title , .social-media a{
    text-decoration: none;
    color: #777471;
}

.footer-list-title {
    font-size: 13.5px;
}

.footer-categories-list , .footer-about-list {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    padding-top: 15px;
}

.footer-categories-list a {
    text-decoration: none;
    color: #777471;
    padding: 7px 60px 0 0;
    letter-spacing: -0.5px;
}

.footer-about-list a {
    text-decoration: none;
    color: #777471;
    padding: 7px 60px 0 0;
    letter-spacing: -0.5px;
}

.footer-products a:hover {
    color: #84BC22;
}

.social-media a:hover {
    color: #84BC22;
}

.details p , .footer-products a {
    font-size: 13px;
}

.footer-products a , .social-media a {
    text-decoration: none;
}

.social-media a {
    padding-left: 20px;
}

/* SHARED */

.btn:focus {
    box-shadow: none !important;
}

